.container {
    color: ghostwhite;
    border: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    justify-items: stretch;
    align-items: stretch;
    place-items: stretch;
    justify-content: stretch;
    grid-template-areas:
      "header header header header"
      "sidebar main main ."
      "sidebar main main ."
      "footer footer footer footer"
      
  }

  .header {
    background-color: yellowgreen;
    border-radius: 5px;
    text-align: center;
    grid-area: header;
  }
  
  .main {
    background-color: orange;
    border-radius: 5px;
    text-align: center;
    grid-area: main;
  }
  
  .sidebar {
    background-color: firebrick;
    border-radius: 5px;
    text-align: center;
    grid-area: sidebar;
  }
  
  .footer {
    background-color: cornflowerblue;
    border-radius: 5px;
    text-align: center;
    grid-area: footer;
  }
  